@font-face {
  font-family: "Simplicita Pro";
  src: url("https://cdn.jsdelivr.net/gh/fontsource/fontsource/fonts/inter@latest/files/inter-latin-300-normal.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
